/* Base styles */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

html {
  font-size: 100% !important;
  overflow-x: hidden !important;
}

* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}

:root {
  --primary-color: #f73709;
  --max-width: 1300px;
  --breakpoint1: 1100px;
}

.primary-button {
  background-color: var(--primary-color) !important;
  color: white !important;
  font-size: 1rem !important;
  padding: 6px 12px !important;
  cursor: pointer !important;
  border: none !important;
  border-radius: 4px !important;
}

.primary-button:hover {
  transform: scale(1.02) !important;
}

body {
  font-family: "Ubuntu", sans-serif !important;
  color: black !important;
  font-size: 1rem !important;
}

img {
  width: 100% !important;
  display: block !important;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--primary-color) !important;
  border-radius: 50% !important;
  border: 2px solid !important;
  width: 45px !important;
  height: 45px !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 26px !important;
}

.swiper-button-next::after {
  margin-left: 4px !important;
}

.swiper-button-prev::after {
  margin-right: 4px !important;
}
