footer {
  background-color: #202020;
  color: white;
}

footer .copyright {
  text-align: center;
  font-size: 12px;
  padding-bottom: 25px;
}

footer .container {
  max-width: 1300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 auto;
  gap: 80px;
  padding: 50px 40px;
  padding-bottom: 0px;
}

footer a {
  display: block;
  width: fit-content;
  font-size: 14px;
  margin-top: 20px;
}

footer a:hover {
  color: var(--primary-color);
}

footer p {
  font-size: 14px;
  margin-top: 8px;
}

footer h2 {
  font-size: 18px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--primary-color);
  padding-bottom: 13px;
}

footer .logo {
  width: 140px;
  margin: 0 !important;
}

footer #contact a,
footer #contact p {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 10px;
}

footer #contact p {
  margin-top: 20px;
}

footer #contact a i,
footer #contact p i {
  font-size: 16px;
}

footer #contact p i {
  margin-left: -2px;
}

footer .column {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; */
}

footer .column > div {
  margin-bottom: 50px;
  width: 100%;
}

footer .social-media {
  width: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
  margin-top: 6px;
}

footer .social-media i {
  font-size: 22px;
}

@media only screen and (max-width: 800px) {
  footer .container {
    display: block;

    padding: 30px 10px;
    padding-bottom: 5px;
  }

  footer .column > div {
    margin-bottom: 0px;
  }

  footer h2 {
    font-size: 16px;
    margin-bottom: 0px;
    border-bottom: 1px solid #3b3b3b;
    padding-bottom: 0px;
    padding: 20px;
    cursor: pointer;
    position: relative;
  }

  footer .column > div .content {
    display: none;
    padding: 12px 20px;
    padding-top: 0px;
  }

  footer .column:last-of-type > div h2 {
    border-bottom: none;
  }

  footer .selected-footer-link .content {
    display: block !important;
  }

  footer .first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin-bottom: 0px !important;
    border-bottom: 1px solid #3b3b3b;
    padding-bottom: 30px;
  }

  footer .social-media {
    margin: 0;
    margin-top: -21px;
  }

  footer h2::after {
    content: "+";
    right: 18px;
    position: absolute;
  }

  footer .selected-footer-link h2::after {
    content: "-";
    right: 18px;
    position: absolute;
    font-size: 28px;
    top: 12px;
  }

  footer p {
    margin-top: 18px;
  }

  footer a {
    margin-top: 22px;
    font-size: 16px;
  }

  footer a {
    margin-top: 22px;
    font-size: 16px;
  }

  footer .logo {
    width: 110px;
  }
}
