section.hero {
  padding: 0px 30px;
  position: relative;
  width: 100%;
}

.hero .strip {
  display: grid;
  grid-template-columns: 2fr 1fr;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
  z-index: -1;

  /* transform: translateX(-50%); */
}

section.hero .container {
  margin: 0 auto;
  height: calc(100% - 80px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: calc(100vh - 200px) calc(100vh - 200px); */
  max-width: var(--max-width);
  gap: 60px;
}

.hero .left {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  /* text-align: justify; */
}

.hero .right {
}

.hero h1 {
  font-size: 50px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.hero h1 span {
  color: #f63809;
}

.hero h2 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 40px;
}

.hero button {
  padding: 14px 40px;
  font-size: 22px;
  font-weight: 600;
  border: none;
  background: #f63809;
  color: white;
  margin-bottom: 40px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  letter-spacing: 1px;
}

.hero button img {
  width: 25px;
}

.hero p {
  font-size: 18px;
  /* max-width: 70%; */
  font-weight: 600;
}

.hero p span {
  color: #f63809;
}

.hero .right img {
  width: 210px;
}

.hero .right .upper {
  width: 223px;
  margin-bottom: 20px;
}

.hero .right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 10px;
}

.hero > .container > div.right > div:nth-child(1) {
  margin-top: 58px;
}

span.ellipse {
  display: flex;
  width: 50px;
  height: 50px;
  background: #f63809;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  flex-shrink: 0;
}

.ellipse img {
  width: 20px !important;
  margin: 0 !important;
}

.accuracy-img {
  position: relative;
}

.hero .container .tab {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #ffd4d1;
  padding: 6px 6px;
  border-radius: 44px;
  position: absolute;
  top: 40px;
  left: -50%;
  padding-right: 10px;
  max-width: 146px;
}

.hero .tab h4 {
  margin-left: 10px;
}

@media only screen and (max-width: 1100px) {
  .hero h1 {
    font-size: 40px;
  }

  .hero h2 {
    font-size: 18px;
  }

  .hero .right img {
    width: 180px;
  }

  .hero .right .upper {
    width: 193px;
    /* margin-bottom: 35px; */
  }

  .hero button {
    padding: 12px 36px;
    font-size: 18px;
    margin-bottom: 40px;
  }

  .hero .strip {
    bottom: -30px;
  }

  .hero p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 854px) {
  .hero p {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  section.hero .container {
    margin: 0 auto;
    height: calc(100% - 80px);
    display: block;
    /* grid-template-columns: 1fr 1fr; */
    /* grid-template-rows: calc(100vh - 200px) calc(100vh - 200px); */
    max-width: 600px;
    gap: 60px;
  }

  .hero .right {
    justify-content: center;
  }

  .hero button {
  }

  .hero .right img {
    width: 130px;
    margin: 0px 10px;
  }

  .hero .right img:nth-child(odd) {
    margin-top: 40px;
  }

  .hero .right .upper {
    width: 140px;
    /* margin-bottom: 35px; */
  }

  .hero .first,
  .hero .second {
    display: flex;
  }

  .hero .container .tab {
    display: none;
  }

  .hero > .container > div.right > div:nth-child(1) {
    margin-top: 0px;
  }

  .hero .strip {
    /* display: block; */
    grid-template-columns: 1fr 0fr;
    bottom: 50px;
  }

  .hero .second .lower {
    height: 206px;
  }
}

@media only screen and (max-width: 640px) {
  section.hero .container {
    margin: 0 auto;
    height: calc(100% - 80px);
    display: block;
    /* grid-template-columns: 1fr 1fr; */
    /* grid-template-rows: calc(100vh - 200px) calc(100vh - 200px); */
    max-width: 400px;
    gap: 60px;
  }

  .hero h1 {
    font-size: 26px;
  }

  .hero h2 {
    font-size: 16px;
  }

  .hero .right {
    display: none;
  }

  .hero button {
    font-size: 14px;
    padding: 10px 20px;
  }

  .hero button img {
    width: 18px;
  }

  .hero .strip {
    bottom: 20px;
    grid-template-columns: 1fr 0fr;
  }
}
