.section1 .swiper {
  width: 100vw;
  height: fit-content;
  max-width: 1300px;
  padding: 40px 0px;
}

.section1 .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section1 .swiper-slide img {
  display: block;
  width: 70%;
  aspect-ratio: 3/2;

  object-fit: contain;
  margin: 0 40px;
}

.section1 .swiper-wrapper {
  transition-timing-function: linear !important;
}

/*  */

section.section1 {
  margin-top: 100px;
}

.section1 h1 {
  font-size: 28px;
  text-align: center;
}

.section1 .boast-stats {
  text-align: center;
  background-color: #ffefe8;
  padding: 60px 60px;
  margin-top: 40px;
}

.boast-stats h1 {
  font-size: 40px;
}

.boast-stats h1 span {
  color: #f63809;
}

.boast-stats p {
  font-size: 22px;
  margin: 0 auto;
  margin-top: 16px;
  max-width: 780px;
}

@media only screen and (max-width: 640px) {
  section.section1 {
    margin-top: 20px;
  }

  .section1 h1 {
    font-size: 20px;
  }

  .section1 .swiper-slide img {
    width: 65%;
    margin: 0 0px;
  }

  .section1 .swiper {
    max-width: 400px;
    padding: 25px;
  }

  .section1 .boast-stats {
    padding: 30px 20px;
    margin-top: 10px;
  }

  .boast-stats h1 {
    font-size: 24px;
  }

  .boast-stats h1 span {
    color: #f63809;
  }

  .boast-stats p {
    font-size: 14px;
    margin-top: 14px;
  }
}
