body {
    /* background-image: url(npcibg.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    overflow-x: hidden;
}

/* Powered by CoRover */
.powered {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 110;
    color: white;
    text-decoration: none;
}

/* Talk Again */
.talk-again {
    color:white;
    position: absolute;
    z-index: 120;
    text-decoration: underline;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
    cursor: pointer;
}

/* Pre-loader */

.preloader {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 101;
    background: #000;
}

.lds-grid {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 64px;
    height: 64px;
}

.lds-grid div {
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation: lds-grid 1.2s linear infinite;
}

.lds-grid div:nth-child(1) {
    top: 6px;
    left: 6px;
    animation-delay: 0s;
}

.lds-grid div:nth-child(2) {
    top: 6px;
    left: 26px;
    animation-delay: -0.4s;
}

.lds-grid div:nth-child(3) {
    top: 6px;
    left: 45px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(4) {
    top: 26px;
    left: 6px;
    animation-delay: -0.4s;
}

.lds-grid div:nth-child(5) {
    top: 26px;
    left: 26px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(6) {
    top: 26px;
    left: 45px;
    animation-delay: -1.2s;
}

.lds-grid div:nth-child(7) {
    top: 45px;
    left: 6px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(8) {
    top: 45px;
    left: 26px;
    animation-delay: -1.2s;
}

.lds-grid div:nth-child(9) {
    top: 45px;
    left: 45px;
    animation-delay: -1.6s;
}

@keyframes lds-grid {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}


/* Video Widget */

.corover-start {
    color: white;
    background: linear-gradient(45deg, rgba(76, 76, 76, 1) 0%, rgba(89, 89, 89, 1) 12%, rgba(102, 102, 102, 1) 25%, rgba(71, 71, 71, 1) 39%, rgb(53, 53, 53) 50%, rgba(0, 0, 0, 1) 51%, rgba(17, 17, 17, 1) 60%, rgba(43, 43, 43, 1) 76%, rgba(28, 28, 28, 1) 91%, rgba(19, 19, 19, 1) 100%);
    padding: 30px 10px;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    border: white 3px solid;
    box-shadow: 0 0 4px #919191;
    cursor: pointer;
    transition: all 0.5s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 5px;
    font-size: 2rem;
}

.corover-start:hover {
    background: linear-gradient(45deg, rgb(45, 141, 45) 0%, rgb(62, 163, 53) 12%, rgb(79, 173, 67) 25%, rgb(58, 150, 55) 39%, rgb(35, 128, 23) 50%, rgb(5, 77, 2) 51%, rgb(6, 68, 0) 60%, rgb(7, 95, 11) 76%, rgb(4, 80, 1) 91%, rgb(10, 71, 5) 100%);
    border: green 3px solid;
}

/* Video Chatbot */

.corover-video-overlay {
    /* display: flex; */
    /* display: none; */
    /* justify-content: center; */
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(227, 212, 199);
    transition: 0.7s all;
}

/* 
.corover-video-chatbot {
    width: 80%;
    height: 100%;
    background: black;
} */

/* Error and Thinking modals */
.mobile-modal,
.online-modal,
.bye-modal,
.mic-modal {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    z-index: 100;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    height: 30%;
    position: absolute;
    left: 55%;
    top: 75%;
    transform: rotate(90deg);
}

.arrow img {
    height: 100%;
}

/* .thinking-modal {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 99;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thinking-modal img {
    width: 35%;
} */

/* NPCI logo */
.npci-logo {
    width: 100%;
    position: absolute;
    z-index: 99;
    color: white;
    display: flex;
    justify-content: center;
}

/* Video */

.video-response,
.idle {
    height: 100vh;
    display: block;
    margin: 0 auto;
}

#subtitle {
    color: white;
    text-align: center;
    font-style: italic;
}

/* Mic button */
.micBtn {
    opacity: 0;
    width: 20%;
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    transition: all 1s;
}

.micBtn:hover {
    width: 30%;
}

/* Close button */
/* .close-btn {
    color: white;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 36px;
    cursor: pointer;
} */


.hideThis {
    display: none !important;
}

.showMic {
    opacity: 1;
    width: 20%;
    bottom: -10px;
}